/* style.css */
body{
  background: white;
  color: #202020;
  font-size: 14px;
  font-family: Arial;
}

header{
  font-family: 'Dancing Script', cursive;
  color: #264110;
  font-weight: bold;
  font-size: 36px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #264110;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(150, 149, 125);
  font-weight: bold;
  font-size: 18px;
}
a {
  color: grey;
}
a:hover {
  text-decoration: none;
  color: rgb(175, 154, 92);
}

#baseline {
  font-family: 'Source Sans Pro', sans-serif;
  color: #264110;
  font-weight: bold;
  font-size: 18px;
}

.grey-title {
  font-family: 'Source Sans Pro', sans-serif;
  color: grey;
  font-weight: bold;
  font-size: 18px;
}

.solution-paragraph {
  color: white;
  font-size: 14px;
  font-family: Arial;
  font-style: italic; 
}

.solution-paragraph:hover {
  text-decoration: none;
  color: grey;
}